<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- 	<link rel="stylesheet" href="el-555.css"> -->
	<link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/1.4.2/theme-default/index.css">
	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
	<style>
		#word-manager a {
			text-decoration: none;
			color: inherit;
		}

		.haha {
			color: red;
			background: yellow;
		}

		.el-tag {
			margin: 3px;
		}

		.attrName {
			font-weight: bold;
			color: #641;
		}

		.valnum {
			color: red;
		}
		.valstr {
			color: #797; 
		}

		.el-input.adder {
			width: 9em;
		}
	</style>
	<title> - Edit</title>
</head>

<body>
	<div id="word-manager">
		<h1>{{item.text}} - 详情</h1>
		<h2>别名</h2>
		<div id="alias-rels">
			<el-tag :key="r" v-for="r in item.aliasRels" :closable="true" type="primary" :close-transition="true"
			 @close="del$ar(r)">
				<a :href="url$w(r.val)">{{r.val}}</a>
			</el-tag>
			<el-input class="adder" size="mini" placeholder="添加新别名" @keyup.enter.native="add$ar">
			</el-input>
		</div>
		<h2>定义与实例</h2>
		<div id="dual-rels-inst">
			<h3>直接类型</h3>
			<el-tag :key="r" v-for="r in rs0_definitions" :closable="true" type="primary" :close-transition="true"
			 @close="del$dr(r)">
				<a :href="url$w(r.key)">{{r.key}}</a>
			</el-tag>
			<el-input name="definition" class="adder" size="mini" placeholder="关联新类型" @keyup.enter.native="add$dr">
			</el-input>
			<h3>所有超类</h3>
			<el-tag :key="w" v-for="w in nsr_definitions" type="success"> <a :href="url$w(w)">{{w}}</a></el-tag>

			<h3>直接实例</h3>
			<el-tag :key="r" v-for="r in rs0_instances" :closable="true" type="primary" :close-transition="true"
			 @close="del$dr(r)">
				<a :href="url$w(r.val)">{{r.val}}</a>
			</el-tag>
			<el-input name="instance" class="adder" size="mini" placeholder="关联新实例" @keyup.enter.native="add$dr"></el-input>
			<h3>所有实例</h3>
			<el-tag :key="w" v-for="w in nsr_instances" type="success"> <a :href="url$w(w)">{{w}}</a></el-tag>
		</div>

		<h2>集合</h2>
		<div id="dual-rels-subs">
			<h3>直接子集</h3>
			<el-tag :key="r" v-for="r in rs0_subsets" :closable="true" type="primary" :close-transition="true"
			 @close="del$dr(r)">
				<a :href="url$w(r.val)">{{r.val}}</a>
			</el-tag>
			<el-input name="subset" class="adder" size="mini" placeholder="关联新子集" @keyup.enter.native="add$dr"></el-input>
			</el-input>
			<h3>所有子集</h3>
			<el-tag :key="w" v-for="w in nsr_subsets" type="success"><a :href="url$w(w)">{{w}}</a></el-tag>
			<h3>直接超集</h3>
			<el-tag :key="r" v-for="r in rs0_supersets" :closable="true" type="primary" :close-transition="true"
			 @close="del$dr(r)">
				<a :href="url$w(r.key)">{{r.key}}</a>
			</el-tag>
			<el-input name="superset" class="adder" size="mini" placeholder="关联新超集" @keyup.enter.native="add$dr"></el-input>
			<h3>所有超集</h3>
			<el-tag :key="w" v-for="w in nsr_supersets" type="success"><a :href="url$w(w)">{{w}}</a></el-tag>
		</div>

		<h2>相关话题</h2>
		<div id="dual-rels-gech">
			<h3>直接子话题</h3>
			<el-tag :key="r" v-for="r in rs0_subtopics" :closable="true" type="primary" :close-transition="true"
			 @close="del$dr(r)">
				<a :href="url$w(r.val)">{{r.val}}</a>
			</el-tag>
			<el-input name="subtopic" class="adder" size="mini" placeholder="关联新子话题" @keyup.enter.native="add$dr"></el-input>
			</el-input>
			<h3>所有子话题</h3>
			<el-tag :key="w" v-for="w in nsr_subtopics" type="success"><a :href="url$w(w)">{{w}}</a></el-tag>
			<h3>直接父话题</h3>
			<el-tag :key="r" v-for="r in rs0_supertopics" :closable="true" type="primary" :close-transition="true"
			 @close="del$dr(r)">
				<a :href="url$w(r.key)">{{r.key}}</a></el-tag>
			<el-input name="supertopic" class="adder" size="mini" placeholder="关联新父话题" @keyup.enter.native="add$dr"></el-input>
			</el-input>
			<h3>所有父话题</h3>
			<el-tag :key="w" v-for="w in nsr_supertopics" type="success"><a :href="url$w(w)">{{w}}</a></el-tag>
		</div>


		<h2>属性和应用</h2>
		<div id="generic-rels">
			<h3>属性</h3>
			<ul>
				<li v-for="(rels,attr) in rmg_attr1">
					<el-button type="danger" size="mini" @click="del$gr1(attr)"><i class="fa fa-times"></i></el-button>
					<span class="attrName">{{attr}}</span> {{translate_pred(rels[0].pred)}}
					<el-tag :key="r" v-for="r in rels" :closable="true" type="primary" :close-transition="true"
					 @close="del$gr1v(r)">
						<a :href="url$w(r.val)">{{r.val}}</a>
					</el-tag>
					<el-input class="adder" size="mini" placeholder="关联新属性值" @keyup.enter.native="add$gr1v(rels,$event)"></el-input>

				</li>
				<li>
					<el-form :inline="true" :model="editor.adder.ge1Rel">
						<el-form-item>
							<el-input v-model="editor.adder.ge1Rel.attr" placeholder="属性名" size="mini" style="width:140px;"></el-input>
						</el-form-item>
						<el-form-item>
							<el-select v-model="editor.adder.ge1Rel.pred" placeholder="谓词" size="mini" style="width:80px;">
								<el-option label="是" value="IS"></el-option>
								<el-option label="有" value="HAS"></el-option>
								<el-option label="仅有" value="ARE"></el-option>
							</el-select>
						</el-form-item>
						<el-form-item>
							<el-input v-model="editor.adder.ge1Rel.vals" placeholder="属性值，若填多个以空格隔开" size="mini"
							 @keyup.enter.native="add$gr1" style="width:280px;"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="success" size="mini" @click="add$gr1"><i class="fa fa-plus"></i></el-button>
						</el-form-item>
					</el-form>
				</li>
			</ul>
			<h3>属性（值）</h3>
			<ul>
				<li v-for="(rels,attr) in rmg_attr2">
					<el-button type="danger" size="mini" @click="del$gr2(attr)"><i class="fa fa-times"></i></el-button>
					<span class="attrName">{{attr}}</span> {{translate_pred(rels[0].pred)}}
					<el-tag :key="r" v-for="r in rels" :closable="true" type="gray" :close-transition="true"
					 @close="del$gr2v(r)">
						<span class="valnum">{{r.valnum}}</span><span class="valstr">{{r.valstr}}</span> {{r.valmu}} 
					</el-tag>
					<el-input class="adder" size="mini" placeholder="关联新属性值" @keyup.enter.native="add$gr2v(rels,$event)"></el-input>

				</li>
				<li>
					<el-form :inline="true" :model="editor.adder.ge2Rel">
						<el-form-item>
							<el-input v-model="editor.adder.ge2Rel.attr" placeholder="属性名" size="mini" style="width:140px;"></el-input>
						</el-form-item>
						<el-form-item>
							<el-select v-model="editor.adder.ge2Rel.pred" placeholder="谓词" size="mini" style="width:60px;">
								<el-option label="是" value="IS"></el-option>
								<el-option label="有" value="HAS"></el-option>
								<el-option label="仅有" value="ARE"></el-option>
							</el-select>
						</el-form-item>
						<el-form-item>
							<el-input v-model="editor.adder.ge2Rel.vals" placeholder="属性值" size="mini"
							 @keyup.enter.native="add$gr2" style="width:230px;"></el-input>
						</el-form-item>
						<el-form-item>
							<el-input v-model="editor.adder.ge2Rel.valmu" placeholder="量词" size="mini"
							 @keyup.enter.native="add$gr2" style="width:60px;"></el-input>
						</el-form-item>
						<el-form-item>
							<el-button type="success" size="mini" @click="add$gr2"><i class="fa fa-plus"></i></el-button>
						</el-form-item>
					</el-form>
				</li>

			</ul>


			<h3>引用</h3>
			<ul>
				<li v-for="rel in grels_refer">
					<a :href="url$w(rel.key)">{{rel.key}}</a> 的 {{rel.attr}} {{translate_pred(rel.pred)
					}} {{rel.val}}
				</li>
			</ul>
		</div>

	</div>

	</div>


</body>

<script src="lodash.js"></script>
<script src="skean-util.js"></script>
<script src="vue.js"></script>
<script src="vue-resource.js"></script>
<script src="https://cdn.bootcss.com/element-ui/1.4.2/index.js"></script>
<script type="text/javascript" for="some-utils">
	class DAGVisitor {
		constructor(edges, edgeToVertex0, edgeToVertex1) {
			this.edges = edges;
			this.edgeToVertex0 = edgeToVertex0;
			this.edgeToVertex1 = edgeToVertex1;
		}

		/*	return a list of vertices visited */
		static newTraversal(edges, edgeToVertex0, edgeToVertex1, vertexStarted) {
			let visitor = new DAGVisitor(edges, edgeToVertex0, edgeToVertex1);
			visitor.visitFrom(vertexStarted);
			return Array.from(visitor.getVerticesVisited());
		}

		visitFrom(root) {
			this.verticesVisited = new Set();
			this._dfs(root);
		}
		getVerticesVisited() {
			return this.verticesVisited;
		}

		_dfs(curr) {
			if (!curr || this.verticesVisited.has(curr)) return;
			this.verticesVisited.add(curr);
			let nexts = this.edges.filter(e => this.edgeToVertex0(e) === curr).map(this.edgeToVertex1);
			nexts.forEach(next => this._dfs(next));
		}
	}

</script>

<script type="text/javascript">
	const currURL = new URL(window.location);
	const WORD = currURL.searchParams.get("w");
	const currURLnoParams = currURL.origin + currURL.pathname;
	const CTX = 'http://localhost:8080/skean';
	const DL = '&'
	const urls = {
		rest: {
			words: CTX + '/dict/words/',
			word: w => CTX + '/dict/words/' + w,
			aliasRels: CTX + '/dict/alias-rels',
			dualRels: CTX + '/dict/dual-rels',
			dualRel: r => CTX + '/dict/dual-rels/' + urls.utils.toMatrixVars(r),
			ge1Rels: CTX + '/dict/ge1-rels',
			ge1Rel: r => CTX + '/dict/ge1-rels/' + urls.utils.toMatrixVars(r),
			ge2Rels: CTX + '/dict/ge2-rels',
			ge2Rel: r => CTX + '/dict/ge2-rels/' + urls.utils.toMatrixVars(r),
		},
		page: {
			word: w => currURLnoParams + '?w=' + w
		},
		utils: {
			toMatrixVars(varMap, keysToPick) {
				let m = _.pick(varMap, keysToPick || ['key', 'attr', 'vno']);
				return _.keys(m).map(k => k + '=' + urls.utils._toVal(m[k])).join(';')
			},
			_toVal(obj) {	//to comma-delimited vals string or simple val
				if (_.isArray(obj)) return obj.join(',')
				return obj;
			}
		}

	}

	const Utils = {
		sortObject(o) {
			return Object.keys(o).sort().reduce((r, k) => (r[k] = o[k], r), {});
		}
	}
	document.title = WORD + '- 详情 - 编辑'

	var vue = new Vue({
		el: '#word-manager',
		data: {
			item: {
				text: null,
				aliasRels: [],
				dualRels: [],
				ge1Rels: [],
				ge2Rels: []
			},
			editor: {
				adder: {
					ge1Rel: { pred: 'HAS' },
					ge2Rel: { pred: 'HAS' }
				}

			},

			ui: {
				inputVisible: false,
				loading: false
			}


		},
		computed: {
			me: function () {
				return this.item.text;
			},
			drels_subs: function () {
				return this.item.dualRels.filter(r => r.attr === 'SUBS')
			},
			drels_inst: function () {
				return this.item.dualRels.filter(r => r.attr === 'INST')
			},
			drels_gech: function () {
				return this.item.dualRels.filter(r => r.attr === 'GECH')
			},
			grels_attr1: function () {
				return this.item.ge1Rels.filter(r => r.key === this.me)
			},
			grels_attr2: function () {
				return this.item.ge2Rels.filter(r => r.key === this.me)
			},
			grels_refer: function () {
				return this.item.ge1Rels.filter(r => r.val === this.me)
			},

			/* rs0: arr of rels shallow
				ns0: arr of nodes shallow; nsr: arr of nodes recursive */
			//--------- subsets & supersets
			rs0_subsets: function () {
				return this.drels_subs.filter(e => e.key === this.me);
			},
			nsr_subsets: function () {
				return DAGVisitor.newTraversal(this.drels_subs, e => e.key, e => e.val, this.me)
					.filter(n => n !== this.me)
			},
			rs0_supersets: function () {
				return this.drels_subs.filter(e => e.val === this.me);
			},
			nsr_supersets: function () {
				return DAGVisitor.newTraversal(this.drels_subs, e => e.val, e => e.key, this.me)
					.filter(n => n !== this.me)
			},
			//--------subtopics & supertopics
			rs0_subtopics: function () {
				return this.drels_gech.filter(e => e.key === this.me);
			},
			ns0_subtopics: function () {
				return this.drels_gech.filter(e => e.key === this.me).map(e => e.val);
			},
			nsr_subtopics: function () {
				return DAGVisitor.newTraversal(this.drels_gech, e => e.key, e => e.val, this.me)
					.filter(n => n !== this.me)
			},
			rs0_supertopics: function () {
				return this.drels_gech.filter(e => e.val === this.me);
			},
			ns0_supertopics: function () {
				return this.drels_gech.filter(e => e.val === this.me).map(e => e.key);
			},
			nsr_supertopics: function () {
				return DAGVisitor.newTraversal(this.drels_gech, e => e.val, e => e.key, this.me)
					.filter(n => n !== this.me)
			},


			//--------definitions & instances
			rs0_definitions: function () {
				return this.drels_inst.filter(e => e.val === this.me);
			},
			ns0_definitions: function () {
				return this.drels_inst.filter(e => e.val === this.me).map(e => e.key);
			},
			nsr_definitions: function () {
				let arrs = this.ns0_definitions.map(def0 =>
					DAGVisitor.newTraversal(this.drels_subs, e => e.val, e => e.key, def0))
				return arrs.reduce((S, A) => _.union(S, A), [])	//lodash's array union
			},
			rs0_instances: function () {
				return this.drels_inst.filter(e => e.key === this.me);
			},
			ns0_instances: function () {
				return this.drels_inst.filter(e => e.key === this.me).map(e => e.val);
			},
			nsr_instances: function () {
				let subsets = _.union(Array.from(this.nsr_subsets), [this.me]);
				let arrs = subsets.map(subdef =>
					this.drels_inst.filter(e => e.key === subdef).map(e => e.val))
				return arrs.reduce((S, A) => _.union(S, A), [])
			},

			ns0_attr1: function () {
				return this.grels_attr1.filter(e => e.key === this.me).map(e => e.val);
			},

			/* rmg: rel map grouped */
			rmg_attr1: function () {
				return Utils.sortObject(_.mapValues(
					_.groupBy(this.grels_attr1, this.rel_attr_mapper),
					rels => _.sortBy(rels, ['attr', 'attrx', 'vno'])
				))
			},
			rmg_attr2: function () {
				return Utils.sortObject(_.mapValues(
					_.groupBy(this.grels_attr2, this.rel_attr_mapper),
					rels => _.sortBy(rels, ['attr', 'attrx', 'vno'])
				))
			},

			ns0_attributes2: function () {
				return this.item.ge2Rels.filter(e => e.key === this.me).map(e => e.val);
			},
			ns0releferences: function () {
				return this.item.ge1Rels.filter(e => e.val === this.me).map(e => e.key);
			},





		},
		methods: {
			add$ar(evt) {	//add alias rel
				let _vv = evt.target.value;
				if (!_vv) return;
				let rel = { key: this.item.text, val: _vv };
				this.$http.post(urls.rest.aliasRels, rel)
					.then(
					resp => {
						this.$notify.success({
							title: '添加' + '别名' + '成功',
							message: this.rel_to_str(rel)
						});
						evt.target.value = ''
						this.loadItem();
					},
					resp => {
						this.$notify.error({
							title: '添加' + '别名' + '失败',
							duration: 0,
							message: resp.body.message
						});
						this.loadItem();
					});

			},
			//------------dualRel---------------
			add$dr(evt) {	//add dual rel
				let _vv = evt.target.value;
				if (!_vv) return;
				let _me = this.me;
				let name = evt.target.name;
				let rel = {}
				switch (name) {
					case 'subset': rel = { key: _me, attr: 'SUBS', val: _vv }; break;
					case 'superset': rel = { key: _vv, attr: 'SUBS', val: _me }; break;
					case 'instance': rel = { key: _me, attr: 'INST', val: _vv }; break;
					case 'definition': rel = { key: _vv, attr: 'INST', val: _me }; break;
					case 'subtopic': rel = { key: _me, attr: 'GECH', val: _vv }; break;
					case 'supertopic': rel = { key: _vv, attr: 'GECH', val: _me }; break;
				}
				let old_vnos = this.item.dualRels.filter(r => r.key === rel.key && r.attr === rel.attr).map(r => r.vno);
				rel.vno = old_vnos.length ? _.max(old_vnos.map(x => +x)) + 1 : 0;
				this.$http.post(urls.rest.dualRels, rel)
					.then(
					resp => {
						this.$notify.success({
							title: '添加' + name + '成功',
							message: this.rel_to_str(rel)
						});
						evt.target.value = ''
						this.loadItem();
					},
					resp => {
						this.$notify.error({
							title: '添加' + name + '失败',
							duration: 0,
							message: resp.body.message
						});
						this.loadItem();
					});

			},
			del$dr(rel) {	//del dualRel
				this.$http.delete(urls.rest.dualRel(rel))
					.then(
					resp => {
						this.$notify.success({
							title: '移除关联成功',
							message: this.rel_to_str(rel)
						});
						this.loadItem();
					},
					resp => {
						this.$notify.error({
							title: '移除关联失败',
							duration: 0,
							message: this.rel_to_str(rel) + '. ' + resp.body.message
						});
						this.loadItem();
					});
			},
			//------------gel1Rel---------------
			add$gr1v(relsOld, evt) {	// append ge1Rel val
				let valNew = evt.target.value.trim();
				if (valNew==='') return;
				let vno = _.max(relsOld.map(r => +r.vno)) + 1;
				let pred = relsOld[0].pred;
				let key = relsOld[0].key;
				let attr = relsOld[0].attr;
				let rel = { key: key, pred: pred, attr: attr, attrx: null, vno: vno, val: valNew };
				this._ajax_rel({
					reqMethod: 'post',
					reqUrl: urls.rest.ge1Rels,
					rel: rel,
					actionName: '关联新属性值',
					successCallback: () => { evt.target.value = ''; this.loadItem(); }
				});


			},
			del$gr1v(rel) {	//del ge1Rel val
				this._ajax_rel({
					reqMethod: 'delete',
					reqUrl: urls.rest.ge1Rel(rel),
					actionName: '移除属性值'
				});
			},
			add$gr1() {	// add ge1Rel
				let rel = this.editor.adder.ge1Rel;
				rel.key = WORD, rel.vno = -1, rel.val = rel.vals;
				this._ajax_rel({
					reqMethod: 'post',
					reqUrl: urls.rest.ge1Rels,
					rel: rel,
					actionName: '添加新属性'
				});

			},
			del$gr1(attr) {	//del ge1Rel vals by attr
				let rel = { key: WORD, attr: attr };
				this._ajax_rel({
					reqMethod: 'delete',
					reqUrl: urls.rest.ge1Rel(rel),
					actionName: '移除属性'
				});
			},
			//------------gel2Rel---------------
			add$gr2v(relsOld, evt) {	// append ge2Rel val
				let valNew = evt.target.value.trim();
				if (valNew==='') return;
				let vno = _.max(relsOld.map(r => +r.vno)) + 1;
				let pred = relsOld[0].pred;
				let key = relsOld[0].key;
				let attr = relsOld[0].attr;
				
				let rel = { key: key, pred: pred, attr: attr, attrx: null, vno: vno };
				if (!_.isNaN(+valNew)){
					rel.valnum=valNew,rel.valstr=null;
				}else{
					rel.valstr=valNew,rel.valnum=null;
				}
				this._ajax_rel({
					reqMethod: 'post',
					reqUrl: urls.rest.ge2Rels,
					rel: rel,
					actionName: '关联新属性值',
					successCallback: () => { evt.target.value = ''; this.loadItem(); }
				});


			},
			del$gr2v(rel) {	//del ge2Rel val
				this._ajax_rel({
					reqMethod: 'delete',
					reqUrl: urls.rest.ge2Rel(rel),
					actionName: '移除属性值'
				});
			},
			add$gr2() {	// add ge2Rel
				let rel = this.editor.adder.ge2Rel;
				rel.key = WORD, rel.vno = 0; 
				if (!_.isNaN(+rel.vals)){
					rel.valnum=rel.vals,rel.valstr=null;
				}else{
					rel.valstr=rel.vals,rel.valnum=null;
				}
				this._ajax_rel({
					reqMethod: 'post',
					reqUrl: urls.rest.ge2Rels,
					rel: rel,
					actionName: '添加新属性2'
				});

			},
			del$gr2(attr) {	//del ge2Rel vals by attr
				let rel = { key: WORD, attr: attr };
				this._ajax_rel({
					reqMethod: 'delete',
					reqUrl: urls.rest.ge2Rel(rel),
					actionName: '移除属性2'
				});
			},
			_ajax_rel(_args) {
				let vue0 = this;
				let successCallback = _args.successCallback || function () { vue0.loadItem(); };
				let failureCallback = _args.successCallback || function () { vue0.loadItem(); };
				let rel = _args.rel;

				fetch(_args.reqUrl, {
					method: _args.reqMethod || 'GET',
					headers: {
						"Content-Type": 'application/json; charset=utf-8'
					},
					body: JSON.stringify(rel)
				}).then(resp => {
					console.log(resp.ok)
					if (resp.status < 300) {
						vue0.$notify.success({
							title: _args.actionName + '成功',
							message: vue0.rel_to_str(rel)
						});
						successCallback();
					} else {
						vue0.$notify.error({
							title: _args.actionName + '失败',
							duration: 0,
							message: vue0.rel_to_str(rel) + '. ' + resp.body.message
						});
						failureCallback();
					}

				});
			},
			rel_attr_mapper(rel1) {
				return rel1.attr + (rel1.attrx ? '(' + rel1.attrx + ')' : '');
			},
			url$w(word) {
				return urls.page.word(word)
			},
			rel_to_str(rel) {
				if (!rel) return '';
				return rel.key + '[' + rel.attr + '] -->' + rel.val;
			},
			translate_pred(pred) {
				switch (pred) {
					case 'IS': return '是';
					case 'ARE': return '仅有';
					case 'HAS': return '有'
						return '='
				}
			},

			loadItem() {
				if (!WORD) {
					return;
				}
				Vue.http.get(urls.rest.word(WORD))
					.then(resp => {
						vue.item = resp.body;
						vue.ui.loading = false;
					})
			}

		}
	});


	vue.loadItem();

</script>

</html>