<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" href="el-555.css">
	<link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
	<style>.haha{color:red;background:yellow;}
	</style>
	<title>dict-demo2</title>
</head>

<body>
	<div id="s4g-body">
<div class="opt-head-bar">
<el-button type="success" @click="dialogFormVisible = true"><i class="fa fa-plus"></i>新增</el-button>
<el-dialog id="item-add-dialog" 
title="新增单词" 
:visible.sync="dialogFormVisible"
show-close>
  <el-form :model="form">
    <el-form-item label="名称" :label-width="formLabelWidth">
      <el-input v-model="form.word" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="限定词" :label-width="formLabelWidth">
      <el-input v-model="form.qual" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="语言" :label-width="formLabelWidth">
      <el-input v-model="form.lang" auto-complete="off"></el-input>
    </el-form-item>
    <el-form-item label="类型" :label-width="formLabelWidth">
      <el-input v-model="form.type" auto-complete="off"></el-input>
    </el-form-item>
<!--     <el-form-item label="" :label-width="100"> -->
<!--       <el-select v-model="form.word placeholder="请选择活动区域"> -->
<!--         <el-option label="区域一" value="shanghai"></el-option> -->
<!--         <el-option label="区域二" value="beijing"></el-option> -->
<!--       </el-select> -->
<!--     </el-form-item> -->
  </el-form>
  <div slot="footer" class="dialog-footer">
    <el-button @click="dialogFormVisible = false">取消</el-button>
    <el-button type="primary" @click="close0">确定</el-button>
  </div>
</el-dialog>
</div>
<el-table
    :data="tableData"
    border
    style1="width: 100%"
    :default-sort = "{prop: 'word', order: 'descending'}"
    >
    <el-table-column
      prop="word"
      label="单词"
      sortable
      >
    </el-table-column>
    <el-table-column
      prop="qual"
      label="限定词"
      sortable
      >
    </el-table-column>
    <el-table-column
      prop="lang"
      label="语言"
      >
    </el-table-column>
    <el-table-column
      prop="type"
      label="类型"
      >
      </el-table-column>
    <el-table-column label="操作">
      <template scope="scope">
        <el-button
          size="small"
          @click="handleEdit(scope.$index, scope.row)"><i class="fa fa-pencil"></i></el-button>
        <el-button
          size="small"
          type="danger"
          @click="handleDelete(scope.$index, scope.row)"><i class="fa fa-trash-o"></i></el-button>
      </template>
    </el-table-column>
  </el-table>
	
	
	</div>
	
</body>

<script type="text/javascript" src="vue.js"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script type="text/javascript">

	var tb=new Vue({
		el: 'el-table',	
		data:{
			tableData: null
		},
		computed:{
			
		},
		methods: {
		      handleEdit(index, row) {
		        console.log(index, row);
		      },
		      handleDelete(index, row) {
		        console.log(index, row);
		      }
		    }
	})
	let CTX='http://localhost:8080/skean'
	function fetch1(){
		fetch(CTX+'/dict/nouns/')
		.then(r => r.json())
		.then(data => tb.tableData = data)
	}
	fetch1();

// 	var v1=new Vue({
// 		el:'.opt-head-bar1',
// 		methods: {
// 			itemAdd(){
// 				function fetch1(){
// 					fetch(CTX+'/dict/nouns/',{
// 					    headers: {
// 					        'Content-Type': 'application/json'
// 					      },
// 					      method: "POST",
// 					      body: JSON.stringify({a: 1, b: 2})
// 					  })
					
// 					.then(r => r.json())
// 					.then(data => tb.tableData = data)
// 				}
// 			}
// 		}
// 	})
	
	var tb=new Vue({
		el:'.opt-head-bar',
		data:{
			formLabelWidth:'120px',
			dialogFormVisible:false,
			form: {word:null,qual:'',lang:'CN',type:null}
		},
		
		methods: {
		      close(index ) {
		        console.log(index);
		      },
		      close0(e) {
		        console.log(this.form,e);
		        this.dialogFormVisible=false;
		      }
		    }
	})
	
</script>

</html>